@model ViewModels.RecoveryPasswordViewModel
@{
		ViewBag.Title = "بازیابی کلمه عبور";
		Layout = "~/Views/Shared/FrontEndLayout/_FrontEndLayout.cshtml";
}

<section id="page-title" data-parallax-image="/images/mashad-faq-img.jpg">
	<div class="container">
		<div class="page-title">
			<h1>ورود به سایت</h1>
			<span>جهت دسترسی به حساب کاربری و تکمیل خرید وارد سایت شوید</span>
		</div>

	</div>
</section>
<section class="bg-gray">
	<div class="container ">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4 recoverypass-page">
				<h2 class="text-center">ورود</h2>

				@if (TempData["WrongCellNumber"] != null)
				{
						<p class="alert alert-danger" id="wrongEmail">@TempData["WrongCellNumber"]</p>
				}
				@if (TempData["success"] != null)
				{
						<p class="alert alert-success" id="wrongEmail">@TempData["success"]</p>
				}
				@using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
				{
						@Html.AntiForgeryToken()
						@Html.ValidationSummary(false, "", new { @class = "alert-danger" })


						<div class="form-group">
							<p class="center"> شماره موبایل خود را وارد کنید </p>

							<input type="text" name="CellNumber" id="CellNumber" class = "form-control form-white" placeholder = "شماره موبایل"/>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-default btn-full">ورود</button>
						</div>
					<div class="login-footer">
						<p>
							برای خرید از وب سایت چرم مشهد باید با استفاده از شماره موبایل خود وارد وب سایت شوید.
						</p>
					</div>
				}




			</div>
		</div>
	</div>
</section>
