          <div class="sidebar-userinfo">
	<div class="user-img">
		<img src="~/Images/avatar_default.jpg" />
	</div>
	<div class="user-info">
		<div class="user-fullName">
			@Model.LoginUserFullName
		</div> 
		<div class="user-cellnumber">
			@Model.LoginUserCellNumber

		</div>
	</div>
	<p class="clearfix"></p>
</div>
<div class="sidebar-card">
	<ul>
		<li>
			<a href="#">پروفایل کاربری</a>
		</li>
		<li>
			<a href="/history">سفارشات</a>
		</li>
	</ul>
</div>
