<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <clear />
    <!--<add name="DatabaseContext" connectionString="Data Source=185.129.168.64:4080;Initial Catalog=mashadleather_Shop;user id=mashadEshopUser;password=Bip3t@741!f;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />-->
    <!--DESKTOP-044MSAN\LOCAL-->
    <add name="DatabaseContext" connectionString="Data Source=.;Initial Catalog=mashadleather_Shop;Integrated Security = true;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="DatabaseContext" connectionString="Data Source=DESKTOP-044MSAN\LOCAL;Initial Catalog=mashadleather_Shop;Integrated Security = true;Max Pool Size=600;Connect Timeout=6000000;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="customerRoleId" value="0AEB583A-E4E2-44D6-92AA-39E7D2480127" />
    <add key="shippmentFree" value="2000000" />
    <add key="shippment" value="200000" />
    <add key="currency" value="ریال" />
    <add key="customerRoleId" value="0AEB583A-E4E2-44D6-92AA-39E7D2480127" />
    <!--<add key="PgwSite" value="https://pgwtest.bpm.bankmellat.ir/pgwchannel/startpay.mellat"/>-->
    <!--<add key="PgwSite" value="https://pgwstest.bpm.bankmellat.ir/pgwchannel/services/pgw?wsdl"/>-->
    <add key="PgwSite" value="https://bpm.shaparak.ir/pgwchannel/startpay.mellat" />
    <!--<add key="PgwSite" value = "https://bpm.shaparak.ir/pgwchannel/services/pgw?wsdl"/>-->
    <add key="productPaginationSize" value="20" />
    <add key="TerminalId" value="2851347" />
    <add key="UserName" value="6468648" />
    <add key="UserPassword" value="35945015" />
    <add key="CallBackUrl" value="https://store.mashadleather.com/Billing/Result" />
    <add key="BPService.PaymentGatewayImplService" value="https://bpm.shaparak.ir/pgwchannel/services/pgw" />
    <!--<add key="BPService.PaymentGatewayImplService" value="https://bpm.shaparak.ir/pgwchannel/services/pgw"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="51200" />
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="KyanOnlineSaleServiceSoap" closeTimeout="00:21:00" openTimeout="00:25:00" receiveTimeout="00:10:00" sendTimeout="00:21:00" allowCookies="true" bypassProxyOnLocal="false" maxBufferPoolSize="20000000" maxReceivedMessageSize="200000000" useDefaultWebProxy="true" />
        <binding name="PaymentGatewayImplServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentGatewayImplServiceSoapBinding1" />
        <binding name="PaymentIFBindingSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentIFBindingSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://bpm.shaparak.ir/pgwchannel/services/pgw" binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplServiceSoapBinding" contract="MellatWebService.IPaymentGateway" name="PaymentGatewayImplPort" />
      <endpoint address="https://verify.sep.ir/payments/referencepayment.asmx" binding="basicHttpBinding" bindingConfiguration="PaymentIFBindingSoap" contract="SamanWebService.PaymentIFBindingSoap" name="PaymentIFBindingSoap" />
      <endpoint address="http://192.168.100.7:2626/KyanOnlineSaleService.asmx" binding="basicHttpBinding" bindingConfiguration="KyanOnlineSaleServiceSoap" contract="KiyanService.KyanOnlineSaleServiceSoap" name="KyanOnlineSaleServiceSoap" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>